<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!--
            Used to specify the default location to expand packages.
            See: nuget.exe help install
            See: nuget.exe help update

            You can use environment variables like %PACKAGEHOME%
            This syntax works on Windows/Mac/Linux
        -->
        <add key="repositoryPath" value="packages" />
    </config>
    <packageSources>
        <clear />
        <add key="datadog" value="https://pkgs.dev.azure.com/julienlebot0112/_packaging/chocolatey/nuget/v3/index.json" />
    </packageSources>
</configuration>