# This is a requirements file for the dockerfile-to-powershell.py script, not used for the buildimage itself!
# The requirements.txt file installed during the creation of the build image is on the root of the repo.
dockerfile-parse==2.0.1
