# Code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

*                                   @DataDog/agent-platform

.gitlab/kernel-version-testing.yml  @DataDog/ebpf-platform @DataDog/agent-platform

tasks/update_go.py                  @DataDog/agent-shared-components

/entrypoint-sysprobe.sh             @DataDog/ebpf-platform @DataDog/agent-platform

/system-probe_arm64/                @DataDog/ebpf-platform @DataDog/agent-platform
/system-probe_x64/                  @DataDog/ebpf-platform @DataDog/agent-platform
/btf-gen/                           @DataDog/ebpf-platform @DataDog/agent-platform
/kernel-version-testing/            @DataDog/ebpf-platform @DataDog/agent-platform

/windows/                           @DataDog/windows-agent @DataDog/agent-platform
/build-container.ps1                @DataDog/windows-agent @DataDog/agent-platform
