# Code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

*                                   @DataDog/agent-devx-infra

go.env                              @DataDog/agent-runtimes
dda.env                             @DataDog/agent-devx-loops

.gitlab/kernel-version-testing.yml  @DataDog/ebpf-platform @DataDog/agent-devx-infra

.github/workflows/go-update.yml     @DataDog/agent-runtimes

.dda/scripts/run/update/go/         @DataDog/agent-runtimes

/entrypoint-sysprobe.sh             @DataDog/ebpf-platform @DataDog/agent-devx-infra

/build-container.ps1                @DataDog/windows-agent @DataDog/agent-devx-infra

# eBPF / KMT images
/btf-gen/                           @DataDog/ebpf-platform @DataDog/agent-devx-infra
/kernel-version-testing/            @DataDog/ebpf-platform @DataDog/agent-devx-infra
/system-probe_arm64/                @DataDog/ebpf-platform @DataDog/agent-devx-infra
/system-probe_x64/                  @DataDog/ebpf-platform @DataDog/agent-devx-infra

# Linux test & build images
/deb-arm/                           @DataDog/agent-devx-loops @DataDog/agent-delivery @DataDog/agent-devx-infra
/deb-x64/                           @DataDog/agent-devx-loops @DataDog/agent-delivery @DataDog/agent-devx-infra
/rpm-arm64/                         @DataDog/agent-devx-loops @DataDog/agent-delivery @DataDog/agent-devx-infra
/rpm-armhf/                         @DataDog/agent-devx-loops @DataDog/agent-delivery @DataDog/agent-devx-infra
/rpm-x64/                           @DataDog/agent-devx-loops @DataDog/agent-delivery @DataDog/agent-devx-infra

# Windows test & build images
/windows/                           @DataDog/windows-agent @DataDog/agent-devx-infra

# Docker images
/docker-arm64/                      @DataDog/container-integrations @DataDog/agent-devx-infra
/docker-x64/                        @DataDog/container-integrations @DataDog/agent-devx-infra
/dev-envs/                          @DataDog/agent-devx-loops
/devcontainer/                      @DataDog/agent-devx-loops @DataDog/container-platform
