# Code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

*                                   @DataDog/agent-ci-experience

go.env                              @DataDog/agent-shared-components

.gitlab/kernel-version-testing.yml  @DataDog/ebpf-platform @DataDog/agent-ci-experience

.github/workflows/go-update.yml     @DataDog/agent-shared-components

tasks/update_go.py                  @DataDog/agent-shared-components

/entrypoint-sysprobe.sh             @DataDog/ebpf-platform @DataDog/agent-ci-experience

/build-container.ps1                @DataDog/windows-agent @DataDog/agent-ci-experience

# eBPF / KMT images
/btf-gen/                           @DataDog/ebpf-platform @DataDog/agent-ci-experience
/kernel-version-testing/            @DataDog/ebpf-platform @DataDog/agent-ci-experience
/system-probe_arm64/                @DataDog/ebpf-platform @DataDog/agent-ci-experience
/system-probe_x64/                  @DataDog/ebpf-platform @DataDog/agent-ci-experience

# CircleCI image
/circleci/                           @DataDog/agent-developer-tools @DataDog/agent-ci-experience

# Linux test & build images
/deb-arm/                           @DataDog/agent-developer-tools @DataDog/agent-build-and-releases @DataDog/agent-ci-experience
/deb-x64/                           @DataDog/agent-developer-tools @DataDog/agent-build-and-releases @DataDog/agent-ci-experience
/rpm-arm64/                           @DataDog/agent-developer-tools @DataDog/agent-build-and-releases @DataDog/agent-ci-experience
/rpm-armhf/                           @DataDog/agent-developer-tools @DataDog/agent-build-and-releases @DataDog/agent-ci-experience
/rpm-x64/                           @DataDog/agent-developer-tools @DataDog/agent-build-and-releases @DataDog/agent-ci-experience
/suse-x64/                           @DataDog/agent-developer-tools @DataDog/agent-build-and-releases @DataDog/agent-ci-experience

# Windows test & build images
/windows/                           @DataDog/windows-agent @DataDog/agent-ci-experience

# Docker images
/docker-arm64/                           @DataDog/container-integrations @DataDog/agent-ci-experience
/docker-x64/                           @DataDog/container-integrations @DataDog/agent-ci-experience
