stages:
  - build
  - release

.build: &build
  stage: build
  except: [ tags, schedules ]
  tags: [ "runner:docker", "size:large" ]
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker-notary:0.6.1
  script:
    - docker build --tag 486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/datadog-agent-buildimages/$IMAGE:v$CI_PIPELINE_ID-${CI_COMMIT_SHA:0:7} --file $DOCKERFILE .
    - docker push 486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/datadog-agent-buildimages/$IMAGE:v$CI_PIPELINE_ID-${CI_COMMIT_SHA:0:7}

build_deb_x64:
  <<: *build
  variables:
    DOCKERFILE: deb-x64/Dockerfile
    IMAGE: deb_x64

build_rpm_x64:
  <<: *build
  variables:
    DOCKERFILE: rpm-x64/Dockerfile
    IMAGE: rpm_x64

.release: &release
  stage: release
  except: [ tags, schedules ]
  only: [ master ]
  tags: [ "runner:docker", "size:large" ]
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker-notary:0.6.1
  script:
    - SRC_IMAGE=486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/datadog-agent-buildimages/$IMAGE:v$CI_PIPELINE_ID-${CI_COMMIT_SHA:0:7}
    - docker pull $SRC_IMAGE
    - docker tag $SRC_IMAGE 486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/datadog-agent-buildimages/$IMAGE:latest
    - docker push 486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/datadog-agent-buildimages/$IMAGE:latest
    - DOCKER_REGISTRY_LOGIN=$(aws ssm get-parameter --region us-east-1 --name ci.datadog-agent-buildimages.docker_hub_login --with-decryption --query "Parameter.Value" --out text)
    - aws ssm get-parameter --region us-east-1 --name ci.datadog-agent-buildimages.docker_hub_pwd --with-decryption --query "Parameter.Value" --out text | docker login --username "$DOCKER_REGISTRY_LOGIN" --password-stdin docker.io
    - docker tag $SRC_IMAGE datadog/datadog-agent-buildimages:$IMAGE-${CI_COMMIT_SHA:0:7}
    - docker push datadog/datadog-agent-buildimages:$IMAGE-${CI_COMMIT_SHA:0:7}
    - docker tag $SRC_IMAGE datadog/datadog-agent-buildimages:$IMAGE-latest
    - docker push datadog/datadog-agent-buildimages:$IMAGE-latest

release_deb_x64:
  <<: *release
  variables:
    IMAGE: deb_x64

release_rpm_x64:
  <<: *release
  variables:
    IMAGE: rpm_x64
