# Python development requirements for the Datadog Agent

-c requirements/constraints.txt

awscli
boto3
codeowners
datadog-api-client
docker
docker-squash
dulwich
invoke
mypy
packaging
parameterized
PyGithub
python-gitlab
reno
requests
ruff
semver
toml
types-pyyaml
types-requests
types-tabulate
types-toml
urllib3
vulture
pyright
