# Python development requirements for the Datadog Agent

-c requirements/constraints.txt

awscli
boto3
codeowners
datadog-api-client
docker
docker-squash
dulwich
invoke
packaging
parameterized
python-gitlab
reno
requests
ruff
semver
toml
urllib3
vulture
