PyGithub==1.59.1
awscli==1.29.45
azure-identity==1.14.1
azure-mgmt-resource==23.0.1
boto3==1.28.45
codeowners==0.6.0
datadog-api-client==2.29.0
docker-squash==1.1.0
docker==5.0.3; python_version < '3.7'
docker==6.1.3; python_version >= '3.7'
dulwich==0.21.6
invoke==2.2.0
jira==3.5.2
mypy==1.10.0
# https://github.com/pypa/setuptools/issues/4501
packaging==24.1
parameterized==0.9.0
python-gitlab==4.4.0
reno==3.5.0
requests==2.31.0
ruff==0.3.5
semver==2.10.0
setuptools==75.8.2
toml==0.10.2
# mypy
types-pyyaml==6.0.12.20240311
types-requests==2.30.0
types-tabulate==0.9.0.20240106
types-toml==0.10.8.20240310
# urllib3 major version 2, released on May 4th 2023, breaks botocore used
# by awscli (removed DEFAULT_CIPHERS list from urllib3.util.ssl_)
urllib3==1.26.15
virtualenv==16.7.9
vulture==2.6
wheel==0.40.0
pyright==1.1.391
google-api-python-client==2.160.0
oauth2client==4.1.3
